<script>
  import { editorsStore } from '../stores/editors';
  import MainLayout from '../layouts/MainLayout.svelte';
  import RecordList from '../components/RecordList.svelte';
  import PageTitle from '../components/PageTitle.svelte';

  export let id;
  export let location;

  $: editor = $editorsStore.editors ? $editorsStore.editors.find(e => e.id === id) : null;
</script>

<MainLayout location={location}>
  {#if editor}
    <div class="p-6">
      <PageTitle title={editor.name} />
      <RecordList editor={editor} />
    </div>
  {:else}
    Fatal error
  {/if}
</MainLayout>
