<script>
  import { navigate } from 'svelte-routing';
  import { getClient } from '../lib/client';
  import { EDITORS_QUERY } from '../queries';
  import { onMount } from 'svelte';
  import MainLayout from '../layouts/MainLayout.svelte';

  const client = getClient();
  const editorsQuery = client.query(EDITORS_QUERY);

  editorsQuery.subscribe((query) => {
    query.then(({ data }) => {
      const [firstEditor] = data._editors;
      if (firstEditor) {
        navigate(`/editor/${firstEditor.id}`, { replace: true });
      }
    })
  });
</script>

<MainLayout location={location} />
