<script>
  export let schema;
  const scalars = {
    Int: 'int',
    Float: 'float',
    String: 'str',
    Boolean: 'bool',
    ID: 'id',
  };

  let display;
  let isScalar = false;

  $: {
    if (schema.type === 'type') {
      display = '{ }';
    } else if (schema.type === 'list') {
      display = '[ ]';
    } else {
      isScalar = true;
      display = scalars[schema.name];
    }
  };
</script>

<style>
  span {
    font-size: 0.6rem;
  }
</style>

<span class="
  {isScalar
    ? (schema.nullable ? 'bg-green-800' : 'bg-green-600')
    : (schema.nullable ? 'bg-teal-800' : 'bg-teal-600')
  }
  inline-block
  text-gray-400
  rounded-full
  text-center
  w-8
"
>
  {display}
</span>
