<script>
  import Node from './Node.svelte';
  import DataIcon from './DataIcon.svelte';
  import { editorsStore } from '../stores/editors';

  export let schema;
  export let data;
</script>

[
<ul>
  {#each Object.keys(data) as index}
    <li class="flex">
      <div>
        <div class="flex items-center w-10 h-6">
          <DataIcon schema={schema.ofType} />
        </div>
      </div>
      <div>
        {`${index}: `}
        <Node schema={schema.ofType} data={data[index]} />
      </div>
    </li>
  {/each}
</ul>
]
