<script>
  import { Link } from 'svelte-routing';
  import { getClient } from '../lib/client';
  import { EDITORS_QUERY } from '../queries';

  export let path;

  const client = getClient();
  const editorsQuery = client.query(EDITORS_QUERY);
</script>

<div class="w-full h-full bg-primary-400 border-r-2 border-secondary-500">
  {#await $editorsQuery}
    loading
  {:then response}
    <div class="text-2xl p-3">Editors</div>
    <div class="mb-2 border-b-2 border-secondary-500" />
    <ul class="text-lg">
      {#each response.data._editors as editor}
        <li>
          <Link to="/editor/{editor.id}">
            <div
              class="p-2 border-secondary-500"
              class:text-font-light={path === editor.id}
              class:bg-primary-600={path === editor.id}
              class:border-r-8={path === editor.id}
              class:hover:bg-primary-500={path !== editor.id}
              class:hover:bg-primary-700={path === editor.id}
            >
              {editor.name}
            </div>
          </Link>
        </li>
      {/each}
    </ul>
  {:catch error}
    {error.message}
  {/await}
</div>
