<script>
  import TypeNode from './TypeNode.svelte';
  import ListNode from './ListNode.svelte';
  import ScalarNode from './ScalarNode.svelte';

  export let schema;
  export let data;

  $: isNull = data === undefined || data === null;
</script>

{#if !isNull}
  {#if schema.type === 'type'}
    <TypeNode schema={schema} data={data} />
  {:else if schema.type === 'list'}
    <ListNode schema={schema} data={data} />
  {:else}
    <ScalarNode schema={schema} data={data} />
  {/if}
{:else}
  <ScalarNode schema={schema} data={data} />
{/if}