<script>
  import { getClient } from '../lib/client';
  import { editorsStore } from '../stores/editors';
  import { createSearchQuery } from '../queries';
  import RecordListItem from './RecordListItem.svelte';

  export let editor;

  const client = getClient();
  $: types = $editorsStore.types;
  $: searchQuery = client.query(createSearchQuery(editor, types));
</script>

<style>
  code {
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
  }
</style>

{#await $searchQuery}
  loading
{:then { data }}
  <code>
    {#each data[editor.searchQuery] as record}
      <RecordListItem
        data={record}
        editor={editor}
      />
    {/each}
  </code>
{:catch error}
  {error.message}
{/await}
