<script>
  import { editorsStore } from '../stores/editors';
  import TypeNode from './TypeNode.svelte';

  export let editor;
  export let data;

  $: types = $editorsStore.types;
</script>

<article class="mb-4">
  {#if editor.idField}  
    <h1 class="p-2 bg-primary-600 text-font-light">
      {data[editor.idField]}
    </h1>
  {/if}
  <div class="bg-primary-500 p-2">
    <TypeNode
      data={data}
      schema={types.find(type => type.name === editor.type)}
    />
  </div>
</article>
