<script>
  export let schema;
  export let data;

  $: isNull = data === undefined || data === null;

  $: blue = isNull || schema.name === 'Boolean';
  $: yelow = schema.name === 'Int' || schema.name === 'Float';
  $: orange = schema.name === 'String' || schema.name === 'ID';
</script>

<style>
  .yelow {
    color: #b5cea8;
  }
  .orange {
    color: #ce9178;
  }
  .blue {
    color: #569cd6;
  }
</style>

<span class:blue class:yelow class:orange>
  {data}
</span>
