<script>
  import Node from './Node.svelte';
  import DataIcon from './DataIcon.svelte';
  import { editorsStore } from '../stores/editors';

  export let schema;
  export let data;

  $: type = schema.fields ? schema : $editorsStore.types.find(type => type.name === schema.name);
</script>

<style>
  .field {
    color: #9cdcfe;
  }
</style>

{'{'}
<ul>
  {#each Object.keys(type.fields) as fieldName}
    <li class="flex">
      <div>
        <div class="flex items-center w-10 h-6">
          <DataIcon schema={type.fields[fieldName]} />
        </div>
      </div>
      <div>
        <span class="field">{`${fieldName}: `}</span>
        <Node schema={type.fields[fieldName]} data={data[fieldName]} />
      </div>
    </li>
  {/each}
</ul>
{'}'}
