<script>
  import { EDITORS_QUERY } from '../queries';
  import { getClient } from '../lib/client';
  import { editorsStore } from '../stores/editors';
  import getPath from '../utils/getPath';
  import Navigator from '../components/Navigator.svelte';
  // import Header from '../components/Header.svelte';

  export let location;
</script>

<style>
  aside {
    width: 15rem;
  }
  section {
    width: calc(100% - 15rem);
  }
</style>

<main class="flex flex-col h-full bg-primary-300 text-font overflow-hidden">
  {#if $editorsStore.loading}
    Loading
  {:else if $editorsStore.editors.length === 0}
    No editors registered
  {:else if $editorsStore.error}
    Error
  {:else}
    <!-- <div class="h-12">
      <Header />
    </div> -->
    <div class="flex-1 flex h-full ">
      <aside>
        <Navigator path={getPath(location)} />
      </aside>
      <section class="h-full overflow-auto">
        <slot />
      </section>
    </div>
  {/if}
</main>
