<script>
  import { Route, Router } from 'svelte-routing';
  import { createClient, setClient } from './lib/client';
  import { editorsStore } from './stores/editors';
  import Index from './pages/index.svelte';
  import IndexId from './pages/index_id.svelte';

  const client = createClient();
  setClient(client);

  editorsStore.init(client);
</script>

<style>
  :global(html), :global(body) {
    height: 100%;
  }
</style>

<Router basepath="/editor">
  <Route path="/" component={Index} />
  <Route path="/:id" component={IndexId} />
</Router>
